---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Programs from "../components/Programs.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import WhatsAppButton from "../components/WhatsAppButton.astro";
---

<Layout title="Kine Cristian | Kinesiólogo en La Serena - Recupera tu Vida">
	<Header />
	<main>
		<Hero />
		<Programs />
		<About />
		<Contact />
	</main>
	<WhatsAppButton />
	<Footer />
</Layout>
